@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #34353a;
}
.main-grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  border: 20px solid #34353a;
}
.nav-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #34353a;
  color: white;
}
.nav-item {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
  gap: 0.5rem;
  cursor: pointer;
}
.dashboard {
  margin-top: 1rem;
  font-size: 2rem;
}
.home {
  margin-top: 2rem;
}
.settings {
  margin-top: 490px;
}
.nav-item:hover {
  background-color: black;
  scale: 1.15;
  filter: invert();
}
.main-content-container {
  display: grid;
  grid-template-rows: 1fr 3.5fr;
  background-color: white;
  border-radius: 10px;
}
header {
  border-bottom: 20px solid #34353a;
}
#header-section {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
#search-bar {
  display: flex;
  gap: 1rem;
}
#search-bar-space {
  width: 600px;
  height: 30px;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
}
#user-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  color: #34353a;
}
img:hover {
  scale: 1.25;
}
#profile-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: #34353a;
}
#search-bar-buttons {
  margin-top: 1rem;
  margin-left: 112px;
}
button {
  background-color: #34353a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 1.5rem;
  border-style: none;
}
button:hover {
  scale: 1.25;
  cursor: pointer;
}
#main-hl {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
#main-headlight-one {
  margin-left: 450px;
}
#main-headlight-two {
  margin-left: 575px;
}
.grid-area {
  display: grid;
  gap: 1.5rem;
  margin: 1rem;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.grid {
  padding: 1.4rem;
  background-color: #34353a;
  color: white;
  border-radius: 10px;
}
.grid:hover {
  scale: 1.05;
}
.announcements {
  grid-row: 1/3;
  grid-column: 3;
}
.grid-hl {
  font-size: 1.5rem;
  font-weight: bold;
}
.grid-hl,
.grid-text {
  margin: 0.5rem;
}
.grid-text {
  font-size: 1.25rem;
}
